@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input-field {
    @apply border-[1px] border-zinc-300 rounded-sm px-1 py-2 text-sm focus:outline-none focus:ring-1 bg-white focus:ring-blue-300;
  }
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background-color: transparent;
    border: solid 3px transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border: 2px solid white;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
