@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .input-field {
    @apply border-[1px] border-zinc-300 rounded-sm px-1 py-2 text-sm focus:outline-none focus:ring-1 bg-white focus:ring-blue-300;
  }
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply border-[3px] border-solid border-transparent bg-transparent;
    /* border-radius: 100vh;
    background-color: transparent;
    border: solid 3px transparent; */
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 border-2 border-solid border-white dark:border-gray-800 dark:bg-gray-500 dark:hover:bg-gray-600;
    /* background-color: lightgray;
    border: 2px solid white; */
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
    /* background-color: darkgray; */
  }

  .login__input {
    @apply bg-transparent focus:outline-none autofill:bg-red-500;
  }

  .login__label {
    position: absolute;
    left: 0;
    top: 0;
    transition: top 0.3s, font-size 0.3s;
  }
  .login__input:focus + .login__label {
    top: -18px;
    font-size: 0.75rem;
  }
  .login__input:not(:placeholder-shown) + .login__label {
    top: -18px;
    font-size: 0.75rem;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
